services:

  api:
    build: .
    container_name: credit-risk-api
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  worker:
    build: .
    container_name: credit-risk-worker
    command: python -m celery -A src.api.tasks worker --loglevel=info
    environment:
      - PYTHONPATH=/app
    depends_on:
      - redis
      - db

  db:
    image: postgres:15
    container_name: credit-risk-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: creditrisk
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d creditrisk"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: credit-risk-redis
    ports:
      - "6379:6379"